includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max

    paths:
        - app
        - config
        - tests
        - database
        - routes

    checkMissingIterableValueType: false
    checkUnionTypes: false

    universalObjectCratesClasses:
        # This can be removed once we start annotating our models, otherwise properties and methods can not be resolved properly
        - Illuminate\Database\Eloquent\Model
        - App\External\ShareKit\Entity

    ignoreErrors:
        # Larastan does not match the make method with the right resource
        - '#should return [a-zA-Z\\]*Resource but returns Way2Web\\Force\\Http\\Resource.#'
        - '#Laravel\\Passport\\Passport::actingAs\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable|Laravel\\Passport\\HasApiTokens, Illuminate\\Database\\Eloquent\\Collection<Illuminate\\Database\\Eloquent\\Model>|Illuminate\\Database\\Eloquent\\Model given.#'
        - '#Call to an undefined method [a-zA-Z\\]*Builder::jsonPaginate\(\)#'
