includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max

    paths:
        - app
        - config
        - tests
        - database
        - routes

    checkMissingIterableValueType: false
    checkUnionTypes: false

    universalObjectCratesClasses:
        # This can be removed once we start annotating our models, otherwise properties and methods can not be resolved properly
        - Illuminate\Database\Eloquent\Model
        - App\External\ShareKit\Entity

    ignoreErrors:
